@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

:root{
    /* texts */
    --background-default: #F5F4F0;
    --border-primary: #D9D9D9;
    --text-primary: #1B1B1B;
    --text-secondary: #333333;
    --text-tertiary: #696969;
    --text-headline: #E1624F;
    /* accents */
    --accent-blue: #0C51A7;
    --accent-orange: #E95E10;
    --accent-pink: #E5245E;
    --accent-purple: #591B98;

    --font-family-defafult: font-family: "Open Sans", sans-serif;
    --font-weight-default: font-weight: normal;
    font-family: "Open Sans", sans-serif;
}

body{
    background-color: var(--accent-blue);
}

#container{
    max-width: 1000px;
    margin: 110px auto;
    background-color: var(--accent-blue);
    border-radius: 40px;
    box-shadow: 0px 0px 20px 12px rgba(0, 0, 0, 0.250);
    padding: 20px;
}

main{
    background-color: var(--background-default);
    padding: 88px 80px;
    border-radius: 20px;
}

h1,h2,h3{
    font-weight: bold;
    color: var(--text-primary);
}

h1{
    font-size: 36px;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 28px;
}

p {
    font-size: 16px;
    font-weight: normal;
    color: var(--text-secondary);
}

#firstphoto{
    padding: 40px 0px 0px 0px;
}

#titlelist{
    padding: 24px 0px 64px 0px;
}

#titlelist h2+p {
    padding-top: 8px;
}

ol.h3{
    list-style-position: inside;
    font-size: 28px;
    font-weight: bold;
    padding-left: 10px;
}

ul li::marker{
    color: var(--text-secondary);
}

ul{
    padding-left: 1rem;
    list-style-position: inside;
}

#second-cardtravel{
    padding: 48px 0px;
}

footer{
    margin: 65px auto -48px auto;
    text-align: center;
}

.headline {
    font-size: 16px;
    font-weight: bold;
    color: var(--text-headline);
    text-transform: uppercase;
}

img.photo{
    width: 100%;
    border-radius: 28px;
}

.subtitle {
    font-size: 12px;
    font-style: italic;
    padding: 4px;
    text-align: center;
}

.description {
    text-align: center;
}

.contentcard{
    padding-top: 20px;
}

.divisor{
    border: 1px solid var(--border-primary);
    margin: 40px 0px 40px 0px;
}

.accent1 {
    color: var(--accent-blue);
    font-weight: bold;

}.accent2 {
    color: var(--accent-orange);
    font-weight: bold;
}

.accent3 {
    color: var(--accent-pink);
    font-weight: bold;
}

.accent4 {
    color: var(--accent-purple);
    font-weight: bold;
}

.heart {
    vertical-align: middle;
}
